<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Basic stock ticker lookup webapp">
    <meta name="author" content="@gotokunal">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Ticker search form</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Ticker search </h2>
            <!-- the interactive buttom --> 
            <form id='input' method='post' action='/query'>
            <p>Enter ticker here
            <input type="text" name="ticker" placeholder="GOOG"/> </br>
            </p>
            <p>
            <input type="checkbox" name='features' value='Open' />Opening price<br>
            <input type="checkbox" name='features' value='Close' />Closing price<br>
            <input type="checkbox" name='features' value='High' />Daily high<br>
            <input type="checkbox" name='features' value='Low' />Daily low<br>
            </p>
            <p><input type='submit' value='Submit'></p>
            </form> 
          <p><a href="/">Home</a></p><!-- href without https says look in filesystem of deployed app-->
          <p><a href="https://github.com/tiwariku/kt-ticker">Github</a></p>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
