<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Basic stock ticker lookup webapp">
    <meta name="author" content="@gotokunal">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title> Ticker search landing </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
            <h2> Ticker search landing page </h2>
            <p>You've searched for {{ticker}}</p>
            <p>I'm not designed to do anything with this query yet, but {{ticker}} was successfully passed as a variable from the form on the previous pages</p>
            <p>I will look at {{api_url}} for the json associated with {{ticker}}</p> 
            <p><a href="/">Home</a></p>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
