<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Basic stock ticker lookup webapp">
    <meta name="author" content="@tiwariku">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Unable to retrieve {{ticker}} information</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
      <p>Sorry, we were unable to retrieve data for {{ticker}}.</p>
      <p>We recieved the following error message from our Quandl query {{error}}</p>
      <p><a href='/'>Home</a></p>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
